<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-government</title>
    <link rel="stylesheet" href="../css/about.css">


</head>

<body>

    <header>

        <nav class="navbar">
            <div>
                <img src="../css/image/logo.png" alt="nit raipur logo" >
                <h1>National institute of technology Raipur</h1>
            </div>


        </nav>
    </header>
   <div>
    <center>
        <h1 class="common">E-GOVERNMENT</h1>
        <h2 class="common">MAJOR PROJECT</h2>
        <p class="common">Guided by</p>
        <h2 class="common" > Dr. Deboraj Muchahary Sir</h2>
    </center>
   </div>
  <center>
   <div id="main">
    <div class="rahul">
        <img class="rahulpic" src="../css/image/abhi.jpg" alt="abhijeet dheer">
        <p>Name: Abhijeet Dheer</p>
        <p>Roll no.: 18116001</p>
        <p> Work: BlockChain </p>
    </div>

    <div class="rahul">
        <img class="rahulpic" src="../css/image/rahul.jpeg" alt="Italian Trulli">
        <p>Name: Rahul Kumar</p>
        <p>Roll no.: 18116056</p>
        <p> Work: Front-End </p>
    </div>

    <div class="rahul">
        <img class="rahulpic" src="../css/image/shantunu.jfif" alt="Italian Trulli">
        <p>Name: Shantanu Ahuja</p>
        <p>Roll no.: 18116072</p>
        <p> Work: Front-End and Back-End </p>
    </div>
   </div>
</center>
</body>

</html>
