<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/navbar.css">
    	<link rel="stylesheet" href="./css/signup.css">


	<title>Document</title>
</head>
<body>

	<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
 <!--navbar-->
	<div class="page-wrapper">
 <div class="nav-wrapper">

  <nav class="navbar">
    <h5 class="heading">E- Government Blockchain Portal</h5>
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav no-search">

      <li class="nav-item"><a href="/register"></a></li>
      <li class="nav-item"><a href="/logout">Logout</a></li>

      <input class="search-input" type="text" placeholder="Search..">
    </ul>
  </nav>
  </div>
  <div class="container">
    <div class="title"> Patient Registration</div>
    <div class="content">
      <form action="/hospital" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details"> Full Name</span>
            <input type="text" placeholder="Enter your Full name "  required name="fullname">
          </div>
          <div class="input-box">
            <span class="details"> Contact No.</span>
            <input type="text" placeholder="Enter your Contact Number" required  name="contactno">
          </div>
          <div class="input-box">
            <span class="details">Aadhar Card</span>
            <input type="number"  minlength="12" placeholder="Enter your Aadhar Number" required name="aadhar">
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="number" placeholder="Enter your Age" required  name="age">
          </div>
          <div class="input-box">
            <span class="details">Symptoms</span>
            <input type="text" placeholder=" Separated by Comma(,)" required  name="symptoms">
          </div>
          <div class="input-box">
            <span class="details">Weight(In Kg)</span>
            <input type="number" placeholder="Enter your weight" required  name="weight">
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" value="Male">
          <input type="radio" name="gender" id="dot-2" value="Female">
          <input type="radio" name="gender" id="dot-3" value="Others">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>


		 <div class="blood-details">
          <input type="radio" name="blood" id="dot-11" value="A+">
          <input type="radio" name="blood" id="dot-21" value="A-">
          <input type="radio" name="blood" id="dot-31" value="B+">
		  <input type="radio" name="blood" id="dot-41" value="B-">
		  <input type="radio" name="blood" id="dot-51" value="AB+">
		  <input type="radio" name="blood" id="dot-61" value="AB-">
		  <input type="radio" name="blood" id="dot-71" value="O+">
		  <input type="radio" name="blood" id="dot-81" value="O-">
          <span class="blood-title">Blood Group</span>
          <div class="category">
            <label for="dot-11">
            <span class="dot oneone"></span>
            <span class="blood">A+</span>
          </label>
		  <label for="dot-21">
            <span class="dot twoone"></span>
            <span class="blood">A-</span>
          </label>
          <label for="dot-31">
            <span class="dot threeone"></span>
            <span class="blood">B+</span>
          </label>
		  <label for="dot-41">
            <span class="dot fourone"></span>
            <span class="blood">B-</span>
          </label>
          <label for="dot-51">
            <span class="dot fiveone"></span>
            <span class="blood">AB+</span>
            </label>
			<label for="dot-61">
            <span class="dot sixone"></span>
            <span class="blood">AB-</span>
          </label>
		  </label>
			<label for="dot-71">
            <span class="dot sevenone"></span>
            <span class="blood">O+</span>
          </label>
		  <label for="dot-81">
            <span class="dot eightone"></span>
            <span class="blood">O-</span>
          </label>
          </div>
        </div>
		<p class="proof"> If Chronic Disease Attach its proof (pdf)</p>
		<input type="file" id="myFile" name="chronicdisease">

		<p class="proof">Old Medical Prescription(pdf) </p>
		<input type="file" id="myFile" name="oldprescription" accept="image/pdf">

        <div class="button">
          <input type="submit" value="Submit Details">

        </div>
      </form>
    </div>
  </div>

</body>
</html>

</body>
</html>

